

  .thema-vorschlagen {
    &.has-seperator {
      padding-top: var(--size-s);
      border-top: dotted var(--border-width) var(--border-color);
      margin-top: var(--size-xl);
          }
  
    &.with-bg-gray,
    &.with-bg-dark{
      padding-top: var(--size-xl);
      padding-bottom: var(--size-xxl);
      margin-top: var(--size-xl);
      background-color: var(--color-dark);
  
      @media only screen and (width <= 40rem) {
        padding: var(--size-xl) var(--size-m);
        margin: calc(var(--size-m) * -1);
        margin-top: var(--size-xl) ;
      }
  
      @media only screen and (width > 40rem) {
        padding-left: var(--size-xl);
        margin-left: calc(var(--size-xl) * -1);
      }
    
    &.with-bg-dark{
      background-color: var(--color-dark);
      * { color: var(--color-lightest) }
    }
  
    .form-group {
        position: relative;
        margin-bottom: 20px;
    }
    
    input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        transition: border-color 0.3s ease; 
    }
    
    input:focus {
        border-color: var(--color-pink);
    }
    
    label {
        position: absolute;
        left: 10px;
        top: 10px;
        color: #aaa;
        font-size: 16px;
        pointer-events: none;
    }
    
    
    button {
        margin-top: 20px;
        padding: 10px 15px;
        font-size: 16px;
        cursor: pointer;
        color: #fff;
        background-color: var(--color-pink);
        border: none;
        border-radius: 5px;
    }
    
    button:hover {
        background-color: var(--color-pink); 
    }

}}