/* Keywords
############################################################################ */
.keywords {
  li {
    display: inline;
    color: var(--color-green);
  }

  li + li::before {
    content: ",";
  }
}